<script>
    $(document).ready(function(){
        $('#agregar_acta_fecha').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'es'
        });
        $('#agregar_acta_hora').datetimepicker({
            format: 'HH:mm'
        });

        $('.imput-group.date > .timepicker > .btn').css('box-shadow','none');
        $('.clockpicker').clockpicker({
            placement: 'bottom',
            align: 'left'
        });
    });
</script>
<div id="div_agregar_acta" name="div_agregar_acta">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'agregar_acta' id_proyecto=proyecto.id %}" method="POST" role="form" id="agregar_acta_form" name="agregar_acta_form">
                {% csrf_token %}
                <input type="hidden" value="crear" name="tipo_post">
                <div class="modal-header">
                    <h4 class="modal-title">Nueva Reunión</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 m-b-10">
                            <div class="form-group fg-float">
                                <label class="f-500 m-b-10 c-black">Fecha</label>
                                <div class="fg-line">
                                    <input id="agregar_acta_fecha" name="agregar_acta_fecha" type="text" class="form-control input-mask" data-mask="00/00/0000" maxlength="10" autocomplete="off">
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 m-b-10">
                            <div class="form-group fg-float">
                                <label class="f-500 m-b-10 c-black">Hora</label>
                                <div class="fg-line input-group clockpicker"  data-autoclose="true">
                                    <input type="text" name="agregar_acta_hora" class="form-control input-mask" value="">
                                    
                                </div>
                                                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 m-b-10">
                            <div class="form-group fg-float">
                                <label class="f-500 m-b-10 c-black">Objetivo</label>
                                <div class="fg-line">
                                    <textarea rows="5" id="agregar_acta_resumen" name="agregar_acta_resumen" maxlength="600" class="form-control auto-size"></textarea>
                                </div>                                                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 m-b-10">
                            <div class="form-group fg-float">
                                <div class="fg-line">
                                    <label class="f-500 m-b-10 c-black">Asistentes</label>
                                    <select id="agregar_acta_miembros_presentes" name="agregar_acta_miembros_presentes" class="selectpicker" multiple data-size="5">
                                            {% for user_proyecto in usuarios_proyecto %}
                                            {% if user.id == user_proyecto.usuario.user.id %}
                                                <option id="miembro_logueado_presente" selected disabled value="{{ user_proyecto.usuario.id }}">{{ user_proyecto.usuario.user.first_name }} {{ user_proyecto.usuario.user.last_name }}</option>
                                            {% else %}
                                                <option value="{{ user_proyecto.usuario.id }}">{{ user_proyecto.usuario.user.first_name }} {{ user_proyecto.usuario.user.last_name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="agregar_reunion" name="agregar_reunion" class="btn bgm-blue waves-effect" onclick="submit_action=true; $('#miembro_logueado_presente').attr('disabled', false);">Guardar</button>
                </div>
                <input type="hidden" id="cantidad_total_temas" name="cantidad_total_temas" value="0"/>
            </form>
        </div>
    </div>
</div>
