<form method="POST" action="{% url 'editar_tema' id_tema=tema.id%}">
    {% csrf_token %}
    <input type="hidden" name="id_tema" id="id_tema_editar" value="{{tema.id}}"/>
    <div class="modal-header">
        <h4 class="modal-title">Editar Tema</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 m-b-10">
                <div class="form-group fg-float">
                    <label class="f-500 m-b-10 c-black">Nombre del tema</label>
                    <div class="fg-line">
                        <input id="nombre_tema" maxlength="50" type="text" name="titulo-tema" class="form-control fg-input" value="{{tema.titulo_tema}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label class="f-500 m-b-10 c-black">Síntesis</label>
                <div class="fg-line">
                    <textarea rows="5" id="descripcion-tema-input" name="descripcion-tema-input" maxlength="600" class="form-control auto-size" placeholder="Ingrese discusión">{{tema.descripcion_tema}}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="editar_tema" name="editar_tema" class="btn bgm-blue waves-effect">Editar</button>
    </div>
</form>
